.actions__buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.actions {
  min-width: 200px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.cost {
  display: flex;
  flex-direction: column;
  align-items: end;
}