.details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details__row {
  display: flex;
  flex-direction: row;
}

.display-name {
  white-space: nowrap;
}

.username { 
  opacity: 75%;
}

.details__rating-row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-100);
  line-height: 1.4rem;
}

.rating {
  display: flex;
  flex-direction: row;
}

.star {
  height: 20px;
  width: 20px;
  filter: var(--primary-filter-0); /* red filter */
}

.tagline {
  white-space: nowrap;
}

.skills {
  padding-top: var(--spacing-300);
}